@import "variables";

body {
  background-color: black;
  margin: 0;
  font-family: $main-font;
  box-sizing: border-box;
}

#upper-wrapper {
  max-width: 1920px;
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  #transition-black {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    background: linear-gradient(to top, black, transparent);
  }
}

#lower-wrapper {
  border: dot-dash 1px pink;
  max-width: 1920px;
  position: absolute;
  top: -300px;
  min-height: 800px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
}

.ghost-bar {
  height: 150px;
}

@media screen and (max-width: 1080px) {
  .ghost-bar {
    height: 100px;
  }
}

@media screen and (max-width: 720px) {
  .ghost-bar {
    height: 50px;
  }
}