@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$main-font: 'Source Sans Pro', sans-serif;


$main-light-color: #FFFFFF;
$second-light-color: #FEFEFE;

$selection-color: #C24E00;
$start-color: #2ECC71;
$end-color: #E74C3C;
$optimal-route: #2ECC71;
