/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
$main-font: 'Ubuntu', sans-serif;

/* COLORS */
//fonts
$main-light-color: #FFFFFF;
$second-light-color: #FEFEFE;
//app
$selection-color: #C24E00;
$start-color: #2ECC71;
$end-color: #E74C3C;
$optimal-route: #2ECC71;
