#pathfinder{
  display: block;
  color: white;

  .title{
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%);
  }

  table{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;
    border-collapse: collapse;

    td{
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: solid 3px white;
      width: 20px;
      height: 20px;

      &:hover{
        background: gray;
        opacity: 0.5;
      }

      &.selected{
        background: orange;
      }

    }
  }
}
