@import "../variables";

#pathfinder{
  display: block;
  color: white;

  .pathfinder-wrapper{
    height: 140px;
  }

  .title{
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%);
  }

  table{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;
    border-collapse: collapse;

    td{
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: solid 3px white;
      width: 20px;
      height: 20px;

      &:hover{
        background: $selection-color;
        opacity: 0.5;
      }

      &.selected{
        background: $selection-color;
      }
    }
  }

  button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: $selection-color;
    color: $main-light-color;
    padding: 4px;
    width: 100px;
    font-size: xx-small;
    font-weight: bold;
  }
}
