@import "../variables";

#pathfinder {
  color: white;

  .pathfinder-wrapper {
    //border: solid 1px red;
    height: 600px;
  }

  .alert-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
    background-color: $selection-color;
    border: solid 3px $second-light-color;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition-duration: 700ms;
    transition-property: opacity;
  }


  .title {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%);

    h4 {
      font-size: x-large;
    }
  }

  table {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;
    border-collapse: collapse;

    td {
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: solid 3px white;
      width: 40px;
      height: 40px;

      &:hover {
        background: $selection-color;
        opacity: 0.5;
      }

      &.selected {
        background: $selection-color;
      }

      &.start {
        background: $start-color;
      }

      &.end {
        background: $end-color;
      }

      &.optimal {
        background: $optimal-route;
      }

      &.neighbour {
        background: $selection-neighbour;
        opacity: 0.25;

        &:hover {
          background: $selection-color;
          opacity: 0.8;
        }
      }
    }
  }

  button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: $selection-color;
    color: $main-light-color;
    padding: 8px;
    width: 150px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
  }
}
