@import "../variables";

.splash {
  //border: solid 1px yellow;
  margin-top: 35px;
  position: absolute;
  left: 50%;
  transform: translate(calc(-50%));

  h1 {
    margin: 1em 0 0 0;
    font-size: xxx-large;
    font-weight: bold;
    color: $main-light-color;
    letter-spacing: 40px;
  }

  p {
    text-align: right;
    margin: 0 40px 0 0;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 3px;
    color: $second-light-color;
  }
}

@media screen and (max-width: 1080px) {
  .splash {
    h1 {
      letter-spacing: 30px;
    }

    p {
      margin: 0 30px 0 0;
    }
  }
}

@media screen and (max-width: 720px) {
  .splash {
    h1 {
      font-size: xx-large;
      letter-spacing: 20px;
    }

    p {
      margin: 0 20px 0 0;
    }
  }
}